.env
.txt

# Build output
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build
/bin/
/dist/
/build/

# Nama binary spesifik project lo
Vox-AI
Vox-AI.exe

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/

# File DB
*.db